@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #DFE5EE;
  --foreground: #343C6A;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #343C6A;
    --foreground: #DFE5EE;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Inter, Helvetica, sans-serif;
}
