@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #dfe5ee;
  --foreground: #343c6a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #343c6a;
    --foreground: #dfe5ee;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Inter, Helvetica, sans-serif;
}
